.card {
  width: 250px;
  height: 300px;
  border: 1px solid gray;
  padding: 8px;
  display: flex;
  gap: 16px;
  flex-direction: column;

  & img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}