:root {
  --comp-color-text-medium:#5c585eff;
  --comp-color-icon-medium:#5c585eff;
  --comp-color-surface-fill-2:#eaeaecff;
  --comp-color-outline-hard:#909399ff;
  --comp-color-text-on-green-container:#196354ff;
  --comp-color-surface-green:#218371ff;
  --comp-color-surface-green-container:#e2f5ebff;
  --comp-color-icon-on-green-container:#196354ff;
  --comp-color-text-on-error-container:#923101ff;
  --comp-color-surface-error:#d44f0cff;
  --comp-color-surface-error-container:#f9cbb9ff;
  --comp-color-icon-on-error-container:#923101ff;
  --comp-color-text-orange:#f77900ff;
  --comp-color-text-on-orange-container:#222222ff;
  --comp-color-surface-orange:#f77900ff;
  --comp-color-surface-orange-container:#ffcb78ff;
  --comp-color-icon-orange:#f77900ff;
  --comp-color-text-on-purple-container:#884192ff;
  --comp-color-surface-purple:#884192ff;
  --comp-color-surface-purple-container:#e8dfeeff;
  --comp-color-icon-purple:#884192ff;
  --comp-color-text-on-primary-container:#036187ff;
  --comp-color-surface-primary:#058fc4ff;
  --comp-color-surface-primary-container:#b6e3f5ff;
  --comp-color-icon-primary:#036187ff;
  --comp-color-icon-on-green-container: #196354ff;
}

